@import './base.css';

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background: #424040;
}
.counter-card {
  width: 350px;
  padding: 30px;
  text-align: center;
  background: #807d7e;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(217, 206, 206, 0.5);
}
.count-display {
  font-size: 60px;
  font-weight: bold;
  margin: 20px 0;
  padding: 15px;
  border-radius: 15px;
  background: #292929;
  color: #ffffff;
}

.btn {
  width: 60px;
  height: 50px;
  border: none;
  border-radius: 12px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  margin: 8px;
  transition: 0.2s;
}

.btn:hover {
  transform: scale(1.05);
}

.decrease {
  background: #ffdddd;
  color: #d33;
}

.increase {
  background: #ddf5e5;
  color: #198754;
}
.count-input {
  width: 100px;
  padding: 10px;
  border: 1px solid #f0e9e9;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  background: #2a2a2a;
  color: #ffffff;
}

.double-count {
  margin: 20px 0;
  font-size: 18px;
  color: #bdbdbd;
}

.double-count strong {
  color: #ffffff;
  font-size: 22px;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.counter-card h1 {
  margin-bottom: 5px;
  font-size: 32px;
  color: #000;
}

.counter-card > p {
  color: #5b5151;
}